body {
        background-image: url(./assets/backgroundImage.jpg);
        background-size: cover;
        font-family: 'Open Sans', sans-serif;
        font-size: 87.5%;
}

h1 {
    background-color: firebrick;
}

h2 {
    background-color: darkorange;

}

p {
    background-color: darkolivegreen;

}

ul {
    background-color: greenyellow;

}

nav {
    background-color: midnightblue;
}

.contentWrapper {
    display: grid;
    grid-template-columns: repeat(2 2fr) 1fr;
    grid-template-rows: .5fr repeat(3 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*header */

.header {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 0px;
}

#topNav {
  grid-column-start: 1;
  grid-column-end: 6;
}

.header #topNav #logo {
    grid-column-start: 2;
    grid-column-end: 4;
}
#navList {
    grid-column-start: 5;
    grid-column-end: 6;
}

.header #topNav {
    display: inline;
}
.header #topNav ul {
    list-style: none;
    margin: 1em;
    padding: 5px 5px;
    position: relative;
    float: right;
    background-color: white;
    
    
}

.header #topNav ul li {
    display: inline;
    position: float;
    padding: 5px 5px;
}

/* newest item */
section.newestItem{
    grid-area: 1 / 1 / 2 / 4;
    background-color: rgb(122, 89, 122);
    margin: 2em 2em;
    border: 2px solid black;
    
    
}

.newestItemContent{
    position: relative;
    display: inline;
    float: left;
    margin: 5px 5px 15px 15px;
    

}

section.newestItem h1 {
    margin: .5em;
    background-color: deeppink;
}

#newestItemTagline {
    margin: 2em;
    background-color: darkorange
}

.newestItem img#newestProduct {
    width: 200px;
    height: 200px;
    margin: 1em 1em;
    
}

/* sidebar */
.sidebar {
    grid-area: 2 / 3 / 4 / 4;
    background-color: moccasin;
    margin: 1em 1em;
    border: 1px solid black;
}

/* .blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 4;
} */

/*main content */

.mainContent {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
    border: 2px solid black;
    background-color: blanchedalmond;
    
    
}
.mainContent h1 {
    grid-column: 1/3;
    border: 1px solid black;
}

.mainContent h2 {
    margin: 10px;
}

.mainContent p {
    background-color: mintcream;
    margin: 10px 10px;
}

section div.panel img.product {
    margin: 45px 45px;
}

.mainContent button {
        color: #C64322;
        background-color: #fff;
        
        margin: 0 5em;
        padding: 2 2;
        border: 1px solid #C64322;
        text-transform: uppercase;
    }
    
.mainContent button:hover {
        background-color: #FBF3DB;
        border: 1px solid #745b2f;
    }

    /* Footer */
    footer {
        background-color: #40362f;
        height: 25px;
        font-size: 1.2em;
        color: #fff;
        text-align: center;
        padding: 1.5em 2.0em;
    }
    
    footer ul#menuFooter {
        display: inline-block;
        list-style: none;
        margin: 0 0 0 0.6em;
        padding: 0;
    }
    
    footer ul li {
        display: inline-block;
        padding: 0 0.7em 0 0;
        margin: 0;
    }
    
    footer ul li::before {
        content: "| ";
        padding-right: 0.7em;
    }
    
    footer a, footer a:visited {
        color: #fff;
        text-decoration: none;
    }
    
    footer a:hover {
        color: #fff;
        text-decoration: underline;
    }
