body {
        background-image: url(./assets/backgroundImage.jpg);
        background-size: cover;
        font-family: 'Open Sans', sans-serif;
        font-size: 112%;
}

h1 {
    background-color: firebrick;
}

h2 {
    background-color: darkorange;
    font-size: 23px;

}

p {
    background-color: darkolivegreen;
    padding: 1em 1em;

}

ul {
    background-color: greenyellow;

}

nav {
    background-color: midnightblue;
}

.contentWrapper {
    display: grid;
    grid-template-columns: repeat(2 2fr) 1fr;
    grid-template-rows: .5fr repeat(3 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*header */

.header {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
position: fixed;
width: 100%;
z-index: 3;
}

#topNav {
  grid-column-start: 1;
  grid-column-end: 4;
  background-image: url(./assets/logo.PNG);
  height: 200px;
  display: inline;
}

#topNav h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: cursive;
    background-color: rgba(75, 182, 48, .5);
    color: rgb(247, 48, 81);
    background-color: transparent;
    text-decoration: underline overline wavy blue;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1em 0em 0em 0em;
    display: inline-block;
    margin: 0.5em 1em;

}

/* .header #topNav #logo {
    grid-column-start: 2;
    grid-column-end: 4;
} */

#navList {
    grid-column-start: 3;
    grid-column-end: 4;
}

.header #topNav {
    display: inline;
}
.header #topNav ul {
    list-style: none;
    margin: 1em;
    padding: 5px 5px;
    position: relative;
    float: right;
    background-color: white;   
}

.header #topNav ul li {
    display: inline;
    position: float;
    padding: 5px 5px;
}

/* newest item */
section.newestItem{
    grid-area: 1 / 1 / 2 / 4;
    background-color: rgb(122, 89, 122);
    margin: 3em 5em;
    border: 2px solid black;  
}

.newestItemContent {
    position:relative;
    display: inline-block;
    float: none;
    width: 40%;
    margin: 5px 45px 15px 15px;
    background-color: dimgray;
    vertical-align: middle;
}

section.newestItem h1 {
    margin: .5em;
    background-color: deeppink;
}

#newestItemTagline {
    margin: 2em;
    background-color: darkorange;
    font-size: 20px;
}

.newestItem img#newestProduct {
    width: 400px;
    height: 200px;
    margin: 1em 1em;  
}
#newestItemBuyButton {
    color: #C64322;
    background-color: #fff;
    
    margin: 0 5em;
    padding: 2 2;
    border: 1px solid #C64322;
    text-transform: uppercase;
}

/* sidebar */
.sidebar {
    grid-area: 2 / 3 / 4 / 4;
    background-color: moccasin;
    margin: 1em 1em;
    border: 1px solid black;
    padding: 0.5em ;
}
#blog p{
    padding: 0.5em;
}

#blog {
    list-style: none;
    font-size: 13px;
    padding: 0.5em;
}

/* .blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 4;
} */

/*main content */

.mainContent {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0.2em 0.2em 0.2em 0.2em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    float: none;
    border: 2px solid black;
    background-color: blanchedalmond;   
}

.mainContent h1 {
    grid-column: 1/3;
    border: 1px solid black;
    margin: 1em;
    

}

.mainContent h2 {
    margin: 10px;
    padding: 0.3em;
}

.mainContent p {
    background-color: mintcream;
    margin: 10px 10px;
}

.panel img.product {
    margin: 55px 55px;
}

.mainContent button {
        color: #C64322;
        background-color: #fff;
        
        margin: 0 5em;
        padding: 2 2;
        border: 1px solid #C64322;
        text-transform: uppercase;
}
    
.mainContent button:hover {
        background-color: #FBF3DB;
        border: 1px solid #745b2f;
}

/* Footer */
footer {
    background-color: #40362f;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}

footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}
