body {
        background-image: linear-gradient(#009E47, black);
        font-family: 'Open Sans', sans-serif;
        font-size: 87.5%;
}

h1 {
    background-color: firebrick;
}

h2 {
    background-color: darkorange;

}

p {
    background-color: darkolivegreen;

}

ul {
    background-color: greenyellow;

}

nav {
    background-color: midnightblue;
}

/*header */

/* newest item */
.newestItem{
    background-color: darkmagenta;

}

/* sidebar */
.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 4/5;
}

/* .blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 4;
} */

/*main content */

.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mainContent h1 {
    grid-column: 1/3;
}

.mainContent h2 {
    margin: 10px;
}

.mainContent p {
    background-color: mintcream;
    margin: 10px 10px;
}

section div.panel img.product {
    margin: 45px 45px;
}